<div class="card mb-3" style="max-width: 100%;">
<div class="row g-0">
<div class="col-md-4">
<%= image_tag 'user.png', class: 'profile_img' %>
</div>
<div class="col-md-8">
<div class="card-body">
<h5 class="card-title">Yanara Rivera</h5>
<p class="card-text">Información de contacto: yanara_rivera@hotmail.cl </p>
<class="card-text">Redes sociales: <a href="https://www.linkedin.com/in/yanara-rivera-malgue/" target="_blank">LinkedIn</a></p>
<p class="card-text">Trabajo impulsando proyectos a través del Marketing digital y las asesorías comerciales con estrategias de visibilidad en la red.</p>
</div>
</div>
</div>