<div class="row">
  <div class="col-sm-4">
    <div class="card">
    <%= image_tag('imagen-1.png', class: 'card-img-top', alt: 'Imagen 1') %>
      <div class="card-body">
        <center> <h5 class="card-title">Instalación inicial de Ruby on Rails</h5> 
        <p class="card-text">Un trabajo difícil, pero alguien tiene que hacerlo</p>
        </center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <%= image_tag('imagen-2.png', class: 'card-img-top', alt: 'Imagen 2') %>
      <div class="card-body">
      <center>
        <h5 class="card-title">Creación del Home</h5>
        <p class="card-text">Con información de Index a partir de la configuración de link_to</p>
        </center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="card">
  <%= image_tag('imagen-3.png', class: 'card-img-top', alt: 'Imagen 3') %>
    <div class="card-body">
    <center>
      <h5 class="card-title">Utilización de Cards de Bootstrap</h5>
      <p class="card-text">Última creación de contenido con diseño para simular un componente web</p>
      </center>
    </div>
  </div>
</div>